.calculator{
    width: 250px;
    /* border: 1px solid rgb(52, 49, 49); */
    padding: 10px;
    margin: 10px;
    margin-top: 100px;
    box-shadow: 0 0 75px rgb(0, 0, 0);
}
h1{
    text-align: center;
}